body {
    background: linear-gradient(320deg, rgb(15, 0, 226),rgba(33, 255, 244, 0.733));
    align-items: center;
    background-size: cover;
    height: inherit;
    display: flex;
    justify-content: center;

}

canvas {
    background: rgba(27, 255, 95, 0.61);
    border-radius: 20px;
    margin-bottom: 100%;
}

p {
    size: 30px;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
